body {
	 font-family: "Hanken", sans-serif;
    color: #777;
    line-height: 1.8;
    font-size: 14px;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}
svg {
  fill: currentColor !important;
  width: 1em;
  height: 1em;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.custom-container {
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
}

@import '~iotacss/base/initialize';