svg {
  fill: currentColor !important;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: $color-primary;
}

hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

@import '~iotacss/base/initialize';