.p-search {
    &__listings {
        width: 66%;
        padding: 0 30px;
        @include until(641px) {
            padding: 0;
            width: 100%;
        }
    }
    &__map {
        width: 34%;
        position: fixed;
        left: auto;
        right: 0;
        top: 60px;
        height: calc(100vh - 60px);
        z-index: 99;
        @include until(641px) {
            position: relative;
            width: 100%;
            top: unset;
        }
        #map {
            @include until(641px) {
                width: 100%;
                height: 100%;
                position: absolute!important;
                left: 0;
                right: 0;
            }
        }
        > .o-map {
            width: 100%;
            height: 100%;
        }
    }
    &.has-no-map {
        .p-search__listings {
            width: 100%;
        }
        &__map {
            width: 34%;
            position: fixed;
            left: auto;
        }
        &.has-no-map {
            .p-search__listings {
                width: 100%;
            }
            .p-search__map {
                display: none;
            }
            .c-venue-cell {
                flex-basis: (100%/5);
                width: (100%/5);
            }
        }
    }
}

.c-round {
    border: 1px solid #aaa;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

.filter--wrapper {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    /* position: absolute; */
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

@media (min-width: 641px) {
    .filter--wrapper {
        display: none;
    }
}

.button--icon {
    border-color: transparent!important;
    height: 3em;
    width: 3em;
    font-size: 1.3rem;
    color: #854f28;
    &:active {
        border-color: transparent!important;
        color: #fff;
    }
    &:hover {
        border-color: transparent!important;
        color: #fff;
    }
    &:focus {
        border-color: transparent!important;
        color: #fff;
    }
    &:visited {
        border-color: transparent!important;
        color: #fff;
    }
}
