@-webkit-keyframes placeHolderShimmer {
  0% {
    transform: translateX(-110%)
  }
  100% {
    transform: translateX(110%)
  }
}

@keyframes placeHolderShimmer {
  0% {
    transform: translateX(-110%)
  }
  100% {
    transform: translateX(110%)
  }
}

@mixin placeHolderShimmer($width: 800px, $height: 104px, $primary: #f6f7f9, $secondary: #e9ebee) {
  background: $primary;
  overflow: hidden;
  position: relative;
  &:before {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-image: linear-gradient(to right, #{$primary} 0%, #{$secondary} 20%, #{$primary} 40%, #{$primary} 100%);
    background-size: $width $height;
    content: ' ';
    display: block;
    height: 100%;
    position: relative;
  }
}
