/node_modules
/merchant/node_modules
/public/hot
.vscode
/public/admin/
/public/_operator/
/public/storage
/public/css/
/public/js/
/public/mix-manifest.json
/public/_operator/
/storage/app/public/*
/storage/*.key
/vendor
/.idea
/.vagrant
/.phpintel
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store

