/node_modules
/public/hot
.vscode
/public/storage
/public/css/*
/public/js/*
/public/mix-manifest.json
/storage/app/public/*
/storage/*.key
/vendor
/.idea
/.vagrant
/.phpintel
Homestead.json
Homestead.yaml
npm-debug.log
.env
