%full-flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-image-upload {
  border: 2px solid #ddd;
  border-radius: 5px;
  position: relative;
  height: 200px;
  overflow: hidden;
  &__input {
    @extend %full-flex;
    flex-direction: column;
    color: #aaa;
    > input[type="file"] {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      &, &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }

  &__icon {
    font-size: 50px;
    line-height: 30px;
  }

  &__text {
  }

  &__progress {
    @extend %full-flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    background: rgba(#fff, .5);
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      //opacity: 1;
      //visibility: visible;
    }
  }

  &__progress-bar {
    width: 50px;
    height: 50px;
    > svg {
      width: 100%;
      height: 100%;
    }
  }

  &__preview {
    @extend %full-flex;
    position: relative;
    z-index: 2;
    > img {
      display: block;
      max-width: 100%;
      max-height: 200px;
      margin: auto;
    }
  }

  &__remove-btn {
    @extend .btn;
    @extend .btn-danger;
    z-index: 1001;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    height: 34px;
    width: 100px;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
  }

  &:hover .c-image-upload__remove-btn {
    opacity: 1;
    visibility: visible;
  }
}