.l-main {

}

.l-content {
  padding-left: 250px;
  padding-top: 100px;
  min-height: 100vh;
  @media (max-width: 640px) {
    padding-left: 0;
  }
}

.l-container-fluid {
  max-width: 92%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.l-form-box {
  max-width: 500px;
}