.carousel {
    background: #f6f6f6;
    position: relative;
}

.carousel-cell {
    width: 100px;
    height: 100px;
    margin: 0;
    margin-right: 10px;
    background: transparent;
    border-radius: 5px;
    counter-increment: carousel-cell;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    svg {
        width: 3em;
        height: 3em;
    }
    p {
        text-align: center;
        margin-top: 10px;
        color: #854f28;
        font-weight: bold;
    }
}












/* cell number */

.carousel-cell:before {
    display: block; // text-align: center;
    // content: counter(carousel-cell);
    // font-size: 80px;
    // color: white;
}

.static-banner {
    position: absolute;
    background: hsla(0, 0%, 0%, 0.3);
    z-index: 1;
    padding: 2px 20px;
    font-size: 26px;
    color: white;
    pointer-events: none;
}

.category__new {
    width: 980px;
    margin: 30px 0 50px;
    width: 100%;
}