.c-form-group {
  margin-bottom: 1rem;
  &--mg2 {
  	margin-bottom: 2rem;
  }
}

.c-input-group {
	display: flex;
	input {
		border-radius: 4px 0px 0px 4px;
		border-right: none;
	}
	button {
		border-radius: 0px 4px 4px 0px;
		border-left: none;
	}
}

.c-places-search {
	&--mg2 {
		margin-bottom: 2rem;
	}
}