.c-form-group {
  margin-bottom: 1rem;
  &--mg2 {
  	margin-bottom: 2rem;
  }
  &.has-error {
    position: relative;
    margin-bottom: 38px;
    &.has-no-message {
      margin-bottom: 1rem;
    }
    &:after {
      content: url("data:image/svg+xml; utf8, <svg fill='#d9534f' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z'/></svg>");
      color: #fff;
      width: 24px;
      height: 24px;
      display: inline-block;
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      margin: auto;
    }
    .o-input {
      border-color: $color-danger;
      &--large ~ ::after{
        top: 10px;
      }
    }
    .c-form-feedback {
      color: $color-danger;
    }
  }
}

.c-form-feedback {
  display: block;
  position: absolute;
  bottom: -27px;
  &__merchant {
    position: relative;
    bottom: 0;
    color: #d9534f;
  }
}

.c-input-group {
	display: flex;
	input {
		border-radius: 4px 0px 0px 4px;
		border-right: none;
	}
	button {
		border-radius: 0px 4px 4px 0px;
		border-left: none;
	}
}

.c-places-search {
	&--mg2 {
		margin-bottom: 2rem;
	}
}