.container-fluid {
	@media (min-width: 640px){
		padding-left: 30px;
		padding-right: 30px;
	}
}

.middle {
	align-items: center;
}

.grid-5 {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;

	> .col, .grid-sizer {
		width: 20%;
		flex-basis: 20%;
		padding: 1rem;
	}

	.grid-sizer {
		display: none;
	}
}
