.nav-mobile {
    // display: none;
    @include until(641px) {
        display: block;
    }
    .o-logo__mobile {
        @include until(641px) {
            svg {
                display: none;
            }
        }
        @include from(641px) {
            i {
                display: none;
            }
        }
    }
    svg {
        width: 40px;
        height: 2em;
    }
    &__menu {
        margin-left: 160px; // border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-bottom: 50px;
        justify-content: center;
        &::before {
            content: '';
            display: block;
            height: 100vh;
            background: #d0d0d0;
            width: 1px;
            position: absolute;
            top: 15px;
            margin-left: 15px;
        }
    }
    &__wrapper {
        background: #fff;
        min-height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 80px;
        z-index: 9;
        display: none;
    }
    &__item {
        list-style-type: none;
        a.item {
            display: block;
            padding: 10px 40px;
            font-size: 2.2rem;
            margin-bottom: 20px;
            color: #b7b7b7;
            &.active {
                color: #854f28;
            }
        }
        .user {
            display: block;
            padding: 10px 40px;
            font-size: 2.2rem;
            color: #854f28;
            margin-bottom: 20px;
            &__name {
                font-size: 2rem;
                font-weight: normal;
            }
        }
    }
    &.is-shown {
        .nav-mobile__wrapper {
            display: block;
        }
        .fa-chevron-down {
            transition: all 0.5s ease;
            transform: rotate(180deg);
        }
    }
}