.o-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    padding: 50px 0;
    &__dialog {
        width: 100%;
        max-width: 700px;
        background: #fff;
        margin: auto;
        border-radius: 5px;
        max-height: calc(100vh - 100px);
        overflow-x: hidden;
    }
    &__body {
        padding: 30px;
    }
    &__close {
        background: transparent;
        margin-bottom: 20px;
        border: 0;
        cursor: pointer;
        &:active,
        &:focus {
            outline: none;
        }
    }
}

.o-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .5;
}

.o-modal-is-shown {
    overflow: hidden;
}

@media (max-width:641px) {
    .sign-modal {
        .o-modal {
            padding: 0;
            &__body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &__dialog {
                height: 100vh;
                max-width: 100%!important;
                max-height: 100%;
            }
        }
    }
}
