.c-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
  height: 60px;
  align-items: center;

  @include until(480px) {
    right: 0;
    left: 0;
    justify-content: space-around;
  }
  &__item {
    margin: 1px;
    &:nth-child(2) {
      @include until(480px) {
        margin-right: 40px;
      }
    }
    &:nth-child(3) {
      @include until(480px) {
        margin-left: 40px;
      }
    }
    > a {
      padding: 12px 24px;
      border-radius: 4px;
      transition: all .23s ease-in-out;
      &:hover,
      &:focus {
        background: $color-primary;
        color: #fff;
      }
    }
    &__search {
      display: none;
      @include until(1024px) {
        display: block;
      }
    }
  }
}