.c-search {
    &__button {
        @include unselectable;
        background: transparent;
        border: 0;
        border-radius: 0;
        color: $color-primary;
        padding: 0;
        width: 35px;
        height: 35px;
        font-size: 25px;
        &:focus {
            outline: none;
        }
        display: none;
    }
    &__form {}
    &--inline {
        .c-search__button {
            display: block;
            @include desktop {
                display: none;
            }
        }
        .c-search__form {
            display: none;
            @include desktop {
                display: flex;
                > .c-form-group {
                    margin-left: 10px;
                    margin-bottom: 0;
                    &:first-child,
                    &:nth-child(2) {
                        width: 250px;
                    }
                    &:last-child {
                        width: 100px;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .c-search.is-shown .c-search__form {
        min-height: 100vh;
    }
}
