.section {
    padding: 10vh 1rem;
    + .section {
        padding-top: 1rem;
    }
    &__title {
        color: $color-primary;
        font-family: $font-family-secondary;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }
    &--gray {
        background: $color-gray;
    }
    &__subtitle {
        max-width: 750px;
        margin: auto;
        text-align: center;
        font-size: 18px;
    }
}

.section--search {
    background: #fff;
}

+ .why {
    padding-top: 30vh;
}