.user {
    position: relative;
    padding: 0;
    &__block {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 9;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    &__avatar {
        width: 32px;
        height: 32px;
        border-radius: 40px;
        overflow: hidden;
        background: #ddd;
        > img {
            width: 100%;
            height: 100%;
        }
    }
    &__name {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        &.has-placeholder {
            width: 100px;
            height: 10px;
            background: #ddd;
        }
    }
}

%item {
    padding: 8px 16px;
    color: $color-primary;
    display: block;
    font-size: 14px;
}

.user-menu {
    list-style: none;
    position: absolute;
    top: 35px;
    right: -5px;
    background: #fff;
    padding: 12px 0;
    margin-bottom: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    min-width: 250px;
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
    z-index: 3;
    margin-top: 15px;
    height: 350px;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    &__arrow {
        position: absolute;
        top: -14px;
        right: 14px;
        clip: rect(0 18px 14px -4px);
        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background: #fff;
            transform: rotate(45deg) translate(6px,6px);
            box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
        }
    }
    &__greeting {
        font-weight: bold;
        padding: 12px 24px;
        text-transform: capitalize;
    }
    &__block {
        padding: 12px 24px;
    }
    &__divider {
        width: 100%;
        height: 1px;
        border-top: 1px dashed rgba(#000, .15);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__link {
        @extend %item;
        font-size: 12px;
        transition: all .3s ease;
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        > .svg-icon:first-child {
            margin-right: 10px;
            font-size: 1.5em;
        }
        &.logout {
            background: #eee;
            border-radius: 4px;
            line-height: 25px;
            justify-content: space-between;
            color: #333;
        }
    }

    .o-button + .o-button {
        margin-top: 10px;
    }
}

.user-info {
    list-style: none;
    padding-bottom: 12px;
    padding-left: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    > li {
        padding: 3px 16px;
        > label {
            font-size: 12px;
            color: #aaa;
            margin-bottom: 0;
        }
        > h4 {
            margin: 0;
            font-weight: bold;
            color: $color-primary;
        }
    }
    &__stamp {
        > h4 {
            font-size: 14px;
        }
    }
}

.user-menu-is-shown {
    //.user__name {
    //    color: #fff;
    //}
}

.merchant-list {
    list-style: none;
    margin-bottom: 15px;
}