.c-venue-grid {
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 auto;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
.c-venue-cell {
	flex-basis: (100%/3);
	width: (100%/3);
	flex: 0 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
%anchor {
	display: block;
	background: #fff;
	padding: 8px 16px;
	&:hover {
		text-decoration: none;
	}
}
.c-venue-card {
	position: relative;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(#000, .15);
	margin-bottom: 30px;
	&__photo {
		position: relative;
		padding-bottom: 65.98639455782312%;
		> a {
			display: block;
			overflow: hidden;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background: #ddd;
			position: absolute;
			width: 100%;
			height: 100%;
			> img {
				max-width: 100%;
			}
		}
	}
	&__info {
		> a {
			@extend %anchor;
		}
	}
	&__name {
		font-family: $font-family-secondary;
		font-weight: bold;
		min-height: 45px;
		display: flex;
		align-items: center;
		margin-bottom: 0;
	}
	&__footer {
		> a {
			@extend %anchor;
			border-top: 1px solid #ddd;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
	&__rating {
		.rating-item {
			font-size: 1rem;
		}
	}
}

.venue-card {
	@extend .card;
	margin-bottom: 1.5rem;
	&:hover, &:focus {
		text-decoration: none;
	}
	.card-img-top {
		width: 100%;
	}
	.card-title {
		font-family: $font-family-secondary;
		font-weight: bold;
        min-height: 45px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
	}

    .ratings {
        .rating-item {
            font-size: 1rem;
            > svg > path {
                stroke-width: 5px;
            }
        }
    }

    .reviews-count {
        display: inline-block;
        margin-left: 10px;
    }
}

.listings {
	max-width: 45%;
	padding: 1.5rem 2rem;
}

.vanue-pagination {
    margin-top: 1.5rem;
    > nav {
        display: inline-block;
    }
}

.map {
	width: 55%;
	height: calc(100% - 54px);
	position: fixed;
	top: 54px;
	right: 0;
}

.detail {
	&__image {
		max-width: 100%;
	}
	&__title {
		color: $color-primary;
		font-weight: bold;
		font-family: $font-family-secondary;
		@media (max-width: 570px){
			font-size: 2rem;
			margin-top: 1rem;
		}
	}
	&__category {
		margin-bottom: 15px;
		display: block;
	}
}

.glide__track {
	display: flex;
    height: 500px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.glide__slide {
	width: 500px;
    flex-basis: 500px;
    height: 500px;
    flex-shrink: 0;
    overflow: hidden;
    > img {
    	max-height: 100%;
    }
}

.review-header-title {
	font-family: $font-family-secondary;
	color: $color-primary;
	font-weight: bold;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		padding: 5px;
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			background: darken($color-primary, 10%);
			color: #fff;
			border-radius: 35px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}


.flickity-page-dots {
	display: none;
}

.ratings-container {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
}
.ratings-inner {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    margin: auto;
    text-align: center;
}
.ratings {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.rating-item {
	font-size: 2.8rem;
	// width: 50%;
	// flex-basis: 50%;
	text-align: center;
	> svg {
		width: 1em;
		height: 1em;
		> path {
			fill: #fff;
			stroke: black;
    		stroke-width: 2px;
		}
	}
	&.is-rated, &.is-hovered {
		> svg > path {
			fill: $color-secondary;
			stroke: $color-secondary;
		}
	}

}

.rating-status {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    padding: 4px 26px;
    position: relative;
    margin-left: 1rem;
    &:before, &:after {
        border: solid transparent;
        content: "";
        height: 0;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
    }
    &:before {
        border-right-color: #fff;
        border-width: 7px;
        z-index: 1;
    }
    &:after {
        border-right-color: rgba(0, 0, 0, 0.11);
        border-width: 8px;
    }
}

