@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

@mixin placeHolderShimmer($primary: #eee, $secondary: #ddd) {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: $primary;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #{$primary}), color-stop(18%, #{$secondary}), color-stop(33%, #{$primary}));
    background: -webkit-linear-gradient(left, #{$primary} 8%, #{$secondary} 18%, #{$primary} 33%);
    background: linear-gradient(to right, #{$primary} 8%, #{$secondary} 18%, #{$primary} 33%);
    background-size: 800px 104px;
    position: relative;
}
