.l-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: transparent;
  @include elevation-transition();
  transition: all .3s ease;
  z-index: 999;
  &__body {
    display: flex;
    align-items: center;
    height: 80px;
    transition: all .3s ease;
    @include touch {
      justify-content: space-between;
    }
  }
  .c-search {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
  }
  &.is-sticky {
    position: fixed;
    background: #fff;
    @include elevation(4, 1);
    opacity: 1;
    visibility: visible;
    .l-header__body {
      height: 60px;
    }
    .c-search {
      opacity: 1;
      visibility: visible;
    }
  }
}