// Colors
//

$brand-primary:             #854f28;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Color Aliases
//

$color-primary: 			$brand-primary;
$color-secondary:           #a4ca4f;
$color-success: 			$brand-success;
$color-info: 				$brand-info;
$color-warning: 			$brand-warning;
$color-danger: 				$brand-danger;

$color-gray: 				#f1f0f0;
