@font-face {
	font-family: 'CorpSansRd';
	src: url('../fonts/CorpSansRd/CorpSansRd-LightCnd.eot');
	src: local('CorpSansRd Alt Light Cnd'), local('CorpSansRd-LightCnd'),
		url('../fonts/CorpSansRd/CorpSansRd-LightCnd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CorpSansRd/CorpSansRd-LightCnd.woff2') format('woff2'),
		url('../fonts/CorpSansRd/CorpSansRd-LightCnd.woff') format('woff'),
		url('../fonts/CorpSansRd/CorpSansRd-LightCnd.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'CorpSansRd';
	src: url('../fonts/CorpSansRd/CorpSansRd-RegularCnd.eot');
	src: local('CorpSansRd Alt Regular Cnd'), local('CorpSansRd-RegularCnd'),
		url('../fonts/CorpSansRd/CorpSansRd-RegularCnd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CorpSansRd/CorpSansRd-RegularCnd.woff2') format('woff2'),
		url('../fonts/CorpSansRd/CorpSansRd-RegularCnd.woff') format('woff'),
		url('../fonts/CorpSansRd/CorpSansRd-RegularCnd.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CorpSansRd';
	src: url('../fonts/CorpSansRd/CorpSansRd-BoldCnd.eot');
	src: local('CorpSansRd Alt Bold Cnd'), local('CorpSansRd-BoldCnd'),
		url('../fonts/CorpSansRd/CorpSansRd-BoldCnd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CorpSansRd/CorpSansRd-BoldCnd.woff2') format('woff2'),
		url('../fonts/CorpSansRd/CorpSansRd-BoldCnd.woff') format('woff'),
		url('../fonts/CorpSansRd/CorpSansRd-BoldCnd.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


