form {
	margin-bottom: 20px;
}
h4,h3,h2,h1 {
	color: #808080!important;
}
.daterange-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	width: 450px;
	position: relative;
	padding-bottom: 15px;
	> .o-input {
		width: min-content;
		margin-bottom: 0px;
	}
	> .line {
		width: 40px;
		height: 1px;
		background: #808080;
	} 
}
.statistic-value {
	text-align: center;
	padding: 20px;
	h1,
	h2,
	h3, {
		color: #9d5f35;
		margin: 20px;
	}
	&__progress {
		span {
			color: #38bc28;
			font-weight: 300;
		}
	}
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
    stroke: #ad8019;
    stroke-width: 2px;
}
.ct-point {
    stroke-width: 10px!important;
    stroke-linecap: round;
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
    fill: #dbc4a6;
}