$button: $color-grey-darker;
$button-background: $color-white;
$button-border: $color-grey-lighter;
$button-hover: $color-grey-darker;
$button-hover-border: $color-grey-light;
$button-focus: $color-grey-darker;
$button-focus-border: $color-primary;
$button-active: $color-grey-darker;
$button-active-border: $color-grey-dark;
$button-static: $color-grey;
$button-static-background: $color-white-ter;
$button-static-border: $color-grey-lighter;
$button-shadow-inset: inset 0 1px 2px rgba($color-black, 0.2);
.o-button {
    @include control;
    @include unselectable;
    background-color: $button-background;
    border-color: $button-border;
    color: $button;
    cursor: pointer;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    white-space: nowrap;
    // States
    &:hover,
    &.is-hovered {
        border-color: $button-hover-border;
        color: $button-hover;
    }
    &:focus,
    &.is-focused {
        border-color: $button-focus-border;
        box-shadow: 0 0 0.5em rgba($button-focus-border, 0.25);
        color: $button-focus;
    }
    &:active,
    &.is-active {
        border-color: $button-active-border;
        box-shadow: $button-shadow-inset;
        color: $button-active;
    }
    // Colors
    &--link {
        background-color: transparent;
        border-color: transparent;
        color: $color-grey-dark;
        text-decoration: underline;
        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused,
        &:active,
        &.is-active {
            background-color: $color-white-ter;
            color: $color-grey-darker;
        }
        &[disabled] {
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;
        }
    }
    @each $name,
    $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &--#{$name} {
            background-color: $color;
            border-color: transparent;
            color: $color-invert;
            &:hover,
            &.is-hovered {
                background-color: darken($color, 2.5%);
                border-color: transparent;
                color: $color-invert;
            }
            &:focus,
            &.is-focused {
                border-color: transparent;
                box-shadow: 0 0 0.5em rgba($color, 0.25);
                color: $color-invert;
            }
            &:active,
            &.is-active {
                background-color: darken($color, 5%);
                border-color: transparent;
                box-shadow: $button-shadow-inset;
                color: $color-invert;
            }
            &[disabled] {
                background-color: $color;
                border-color: transparent;
                box-shadow: none;
            }
            &-outlined {
                background-color: transparent;
                border-color: $color;
                color: $color;
                &:hover,
                &:focus {
                    background-color: $color;
                    border-color: $color;
                    color: $color-invert;
                }
                &[disabled] {
                    background-color: transparent;
                    border-color: $color;
                    box-shadow: none;
                    color: $color;
                }
            }
        }
    }
    // Sizes
    &--small {
        @include control-small;
    }
    &--medium {
        @include control-medium;
    }
    &--large {
        @include control-large;
    }
    // Extra
    &--block {
        display: block;
        width: 100%;
    }
}

// Adjustment for vertical spacing
button.o-button,
input[type="submit"].o-button {
    line-height: 1;
    padding-bottom: 0.4em;
    padding-top: 0.35em;
}

// flickity button
.flickity-prev-next-button {
    background: transparent;
    &:hover {
        background: transparent;
    }
}

.flickity-prev-next-button .arrow {
    fill: #fff;
    &:hover {
        fill: #333;
    }
}
