.gm-style-iw__body .c-venue-card__info,
.gm-style-iw__body .c-venue-card__footer {
    padding: 0 10px;
}

.gm-style-iw__body .c-venue-card__photo > a {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
