.o-logo {
    display: flex;
    margin-right: 30px;
    line-height: 1;
    @include until(641px) {
        margin-right: auto;
        width: 100px;
    }
    > svg {
        width: auto;
        height: 30px;
    }
    &__desktop {
        @include until(900px) {
            display: none;
        }
    }
    &__mobile {
        @include from(900px) {
            display: none;
        }
    }
}
